<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link type="text/css" rel="stylesheet" href="/stylesheet.css">
    </head>
    <body>
        <div class="main">
            <h1> Welcome </h1>
            <form action='/code' method="POST" class="main-code-form">
                <textarea name="codeText" class="main-textarea" placeholder="code away..."><%= typeof inputData!=='undefined'? inputData:'' %></textarea>
                <br>
                <button type="submit">submit code</button>
            </form>
            <div class="main-output">
               

                <% if (code && code.testsuites && code.testsuites.testsuite) { %>
                    <ul>
                        <% const testSuites = Array.isArray(code.testsuites.testsuite) ? code.testsuites.testsuite : [code.testsuites.testsuite]; %>
                        <% testSuites.forEach(suite => { %>
                            <li><%= suite._attributes.name %></li>
                            <ul>
                                <% const testCases = Array.isArray(suite.testcase) ? suite.testcase : [suite.testcase]; %>
                                <% testCases.forEach(testCase => { %>
                                    <li>
                                        <%= testCase._attributes.name %> - <%= testCase._attributes.time %> seconds
                                        <% if (testCase.error || testCase.failure) { %>
                                            <% const failureMessage = testCase.error ? testCase.error._attributes.message : testCase.failure._attributes.message; %>
                                            <div class="failure">
                                                <p>Test failed: <%= failureMessage %></p>
                                                <p>Details:</p>
                                                <pre><%= testCase.error ? testCase.error._cdata.trim() : testCase.failure._cdata.trim() %></pre>
                                            </div>
                                        <% } else { %>
                                            <div class="success">
                                                <p>Test passed successfully.</p>
                                            </div>
                                        <% } %>
                                    </li>
                                <% }); %>
                            </ul>
                        <% }); %>
                    </ul>
                <% } else { %>
                    <p><%= code %></p>
                <% } %>
                
                
                
               </div>
            </div>
      
    </body>
</html>